<div class="page-header">
    <h4>
        Start Mail Listener Service
        <a ng-if="!setting.run" class="btn btn-default" ng-click="setting.Start()">
            <span class="glyphicon glyphicon-off"></span>
            Start
        </a>
        <a ng-if="setting.run" class="btn btn-default" ng-click="setting.Stop()">
            <span class="glyphicon glyphicon-off"></span>
            Stop
        </a>
    </h4>

</div>

<form class="form-horizontal" ng-submit="setting.SaveCode()" enctype="multipart/form-data">
    <div class="form-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Recharge code</label>

                    <div class="col-sm-4">
                        <input type="number" class="form-control" ng-model="setting.settingData.code">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="form-section ">SMTP Configuration</h4>
            </div>

            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Host</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="setting.settingData.smtp.host">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Port</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="setting.settingData.smtp.port">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Secure</label>

                    <div class="col-sm-4">
                        <div class="pull-left">
                            <input ng-if="setting.settingData.smtp.secure" checked type="checkbox" class="form-control"
                                   ng-model="setting.settingData.smtp.secure">
                            <input ng-if="!setting.settingData.smtp.secure" type="checkbox" class="form-control"
                                   ng-model="setting.settingData.smtp.secure">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">User</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="setting.settingData.smtp.auth.user">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="setting.settingData.smtp.auth.pass">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 class="form-section ">SMS Configuration</h4>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">User</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="setting.settingData.sms.user">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" ng-model="setting.settingData.sms.pass">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-4">
                        <button type="submit" class="btn btn-success btn-lg btn-block">Update
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

