<div class="page-header">
    <h1 ng-if="client.type == 'create'">Create client</h1>
    <h1 ng-if="client.type == 'edit'">Edit client</h1>
</div>

<form class="form-horizontal" ng-submit="client.saveClient()">

    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="client.clientData.name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" ng-model="client.clientData.phone">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" ng-model="client.clientData.email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Credit</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="client.clientData.credit">
        </div>
    </div>
    <div class="form-group">

        <label class="col-sm-2 control-label">Valid</label>

        <div class="col-sm-6 pull">
            <div class="pull-left">
                <input type="checkbox" ng-if="client.clientData.valid" checked class="form-control"
                       ng-model="client.clientData.valid">
                <input type="checkbox" ng-if="!client.clientData.valid" class="form-control" ng-model="client.clientData.valid">
            </div>
        </div>

    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="submit" class="btn btn-success btn-lg btn-block" ng-if="client.type == 'create'">Create client</button>
            <button type="submit" class="btn btn-success btn-lg btn-block" ng-if="client.type == 'edit'">Update client</button>
        </div>
    </div>

</form>

<div class="row show-hide-message" ng-show="client.message">
    <div class="col-sm-6 col-sm-offset-2">

        <div class="alert alert-info">
            {{ client.message }}
        </div>

    </div>
</div>
